In [21]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [22]:
import glob
import matplotlib.pyplot as plt

In [23]:
import os
os.path.isfile('2024jan.csv')

True

In [24]:
path = os.getcwd()

print(path)

/Users/emmelinewilley/Desktop/LEDE Project data/data

In [25]:
os.chdir('/Users/emmelinewilley/Desktop/LEDE Project data/data/')

In [26]:
df = pd.concat(map(pd.read_csv, ['2024jan.csv', '2024feb.csv','2024march.csv','2024april.csv','2024may.csv','2024june.csv']))

In [27]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,748A93D7DE8A41CD,classic_bike,2024-01-25 15:49:59,2024-01-25 15:52:35,1st & O St NW,31519.0,1st & L St NW,31677.0,38.908643,-77.012365,38.903819,-77.011987,member
1,75CBFD136F06305B,classic_bike,2024-01-02 16:44:58,2024-01-02 16:53:25,1st & O St NW,31519.0,4th & College St NW,31138.0,38.908643,-77.012365,38.921233,-77.018135,member
2,0536C9720F87E04C,classic_bike,2024-01-24 15:40:15,2024-01-24 15:43:55,1st & O St NW,31519.0,1st & L St NW,31677.0,38.908643,-77.012365,38.903819,-77.011987,member
3,9E17390C218783B5,classic_bike,2024-01-04 15:35:00,2024-01-04 15:37:35,1st & O St NW,31519.0,1st & L St NW,31677.0,38.908643,-77.012365,38.903819,-77.011987,member
4,00727D0E773CDFF7,electric_bike,2024-01-05 12:27:58,2024-01-05 12:35:40,1st & O St NW,31519.0,10th & G St NW,31274.0,38.908690,-77.012317,38.898243,-77.026235,casual

In [28]:
df.shape

(2584529, 13)

In [29]:
df['started_at'].describe

<bound method NDFrame.describe of 0             2024-01-25 15:49:59
1             2024-01-02 16:44:58
2             2024-01-24 15:40:15
3             2024-01-04 15:35:00
4             2024-01-05 12:27:58
                   ...
584397    2024-06-27 13:23:03.806
584398    2024-06-21 11:34:25.669
584399    2024-06-30 20:34:54.323
584400    2024-06-28 08:55:14.968
584401    2024-06-21 11:25:56.790
Name: started_at, Length: 2584529, dtype: object>

In [30]:
df[['start_date', 'start_time']] = df['started_at'].str.split(' ', n=1, expand=True)

In [31]:
df = df.drop('started_at', axis=1)

In [32]:
df['start_date'].head()

0    2024-01-25
1    2024-01-02
2    2024-01-24
3    2024-01-04
4    2024-01-05
Name: start_date, dtype: object

In [33]:
df[['end_date', 'end_time']] = df['ended_at'].str.split(' ', n=1, expand=True)

In [34]:
df = df.drop('ended_at', axis=1)

In [35]:
df.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time
0,748A93D7DE8A41CD,classic_bike,1st & O St NW,31519.0,1st & L St NW,31677.0,38.908643,-77.012365,38.903819,-77.011987,member,2024-01-25,15:49:59,2024-01-25,15:52:35
1,75CBFD136F06305B,classic_bike,1st & O St NW,31519.0,4th & College St NW,31138.0,38.908643,-77.012365,38.921233,-77.018135,member,2024-01-02,16:44:58,2024-01-02,16:53:25
2,0536C9720F87E04C,classic_bike,1st & O St NW,31519.0,1st & L St NW,31677.0,38.908643,-77.012365,38.903819,-77.011987,member,2024-01-24,15:40:15,2024-01-24,15:43:55
3,9E17390C218783B5,classic_bike,1st & O St NW,31519.0,1st & L St NW,31677.0,38.908643,-77.012365,38.903819,-77.011987,member,2024-01-04,15:35:00,2024-01-04,15:37:35
4,00727D0E773CDFF7,electric_bike,1st & O St NW,31519.0,10th & G St NW,31274.0,38.908690,-77.012317,38.898243,-77.026235,casual,2024-01-05,12:27:58,2024-01-05,12:35:40

AttributeError: 'DataFrame' object has no attribute 'find'

In [60]:
df['length'] = df['end_time'] - df['start_time']

In [50]:
df['start_time'] = pd.to_datetime(df['start_time'], format="%H:%M:%S")

In [59]:
df['end_time'] = pd.to_datetime(df['end_time'], format="mixed")

In [61]:
df['length'].head()

0   0 days 00:02:36
1   0 days 00:08:27
2   0 days 00:03:40
3   0 days 00:02:35
4   0 days 00:07:42
Name: length, dtype: timedelta64[ns]

In [82]:
df.loc[[434961]]

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,length
434961,29B525FDE2F4BF03,electric_bike,New Hampshire Ave & T St NW,31229.0,37th & O St NW / Georgetown University,31236.0,38.915580,-77.038271,38.907837,-77.071660,casual,2024-03-10,2024-08-07 16:14:55.000,2024-03-10,2024-08-07 16:28:16.000,0 days 00:13:21
434961,6E537944EA83E99B,electric_bike,14th & Girard St NW,31123.0,NaN,NaN,38.925375,-77.032392,38.920000,-77.050000,member,2024-04-24,2024-08-07 13:25:37.000,2024-04-24,2024-08-07 13:33:50.000,0 days 00:08:13
434961,6FF272817BC93116,electric_bike,3rd & Elm St NW,31118.0,NaN,NaN,38.917639,-77.015940,38.910000,-77.040000,casual,2024-05-06,2024-08-07 11:17:16.000,2024-05-06,2024-08-07 11:33:45.000,0 days 00:16:29
434961,751649C534BF599F,classic_bike,Joyce St & 16th St S,31091.0,Eads St & 22nd St S,31013.0,38.859254,-77.063275,38.854381,-77.053412,member,2024-06-29,2024-08-07 00:49:59.945,2024-06-29,2024-08-07 22:02:13.387,0 days 21:12:13.442000

In [76]:
df['length'].sort_values(ascending=False).head(100)

434961   0 days 21:12:13.442000
284982          0 days 21:03:28
332135   0 days 20:50:50.779000
28435           0 days 20:17:06
427822   0 days 19:33:22.057000
                  ...
35633    0 days 11:01:01.420000
169585          0 days 10:59:33
295352          0 days 10:59:30
77379    0 days 10:57:18.414000
252545          0 days 10:50:15
Name: length, Length: 100, dtype: timedelta64[ns]

In [68]:
df['length'].value_counts().head(50)

length
0 days 00:04:58    2365
0 days 00:05:07    2343
0 days 00:04:45    2319
0 days 00:05:05    2318
0 days 00:05:14    2318
0 days 00:05:13    2309
0 days 00:05:01    2305
0 days 00:05:16    2305
0 days 00:04:59    2302
0 days 00:05:23    2299
0 days 00:05:48    2289
0 days 00:04:52    2289
0 days 00:05:37    2287
0 days 00:04:38    2283
0 days 00:04:56    2282
0 days 00:04:27    2279
0 days 00:04:48    2277
0 days 00:04:31    2273
0 days 00:04:30    2272
0 days 00:05:15    2271
0 days 00:05:10    2270
0 days 00:05:40    2268
0 days 00:06:04    2267
0 days 00:06:15    2266
0 days 00:05:11    2266
0 days 00:06:05    2260
0 days 00:06:28    2260
0 days 00:05:00    2260
0 days 00:05:02    2257
0 days 00:04:54    2256
0 days 00:05:53    2256
0 days 00:05:59    2255
0 days 00:06:01    2254
0 days 00:05:21    2250
0 days 00:04:49    2249
0 days 00:05:45    2249
0 days 00:04:23    2247
0 days 00:04:32    2247
0 days 00:05:31    2244
0 days 00:04:44    2244
0 days 00:05:25    2243
0 days 00:05:44    2242
0 days 00:04:28    2237
0 days 00:06:00    2236
0 days 00:05:43    2233
0 days 00:05:38    2232
0 days 00:04:37    2229
0 days 00:05:57    2227
0 days 00:05:41    2227
0 days 00:05:22    2227
Name: count, dtype: int64

In [63]:
df['length'].mean()

Timedelta('0 days 00:10:04.647452142')

In [36]:
top_Ten = df['start_date'].value_counts().head(50)
top_Ten

start_date
2024-06-08    24193
2024-03-16    22075
2024-06-07    22005
2024-04-20    21862
2024-06-01    21525
2024-06-15    21245
2024-06-12    21128
2024-06-29    20567
2024-04-28    20461
2024-06-28    20421
2024-06-11    20405
2024-06-13    20324
2024-06-27    20298
2024-06-09    20079
2024-05-08    20057
2024-05-31    20052
2024-06-18    19977
2024-06-19    19955
2024-05-16    19909
2024-06-25    19854
2024-06-06    19840
2024-06-04    19797
2024-05-03    19787
2024-05-01    19720
2024-06-14    19665
2024-05-02    19595
2024-05-21    19442
2024-06-20    19365
2024-05-30    19232
2024-06-21    19230
2024-04-18    19145
2024-06-22    19020
2024-04-14    18983
2024-03-30    18834
2024-04-30    18751
2024-03-14    18751
2024-06-26    18740
2024-05-22    18733
2024-06-16    18533
2024-04-24    18426
2024-06-02    18418
2024-05-07    18410
2024-04-13    18385
2024-05-24    18376
2024-04-16    18335
2024-04-10    18228
2024-04-17    18122
2024-05-17    18024
2024-04-26    18000
2024-05-19    17989
Name: count, dtype: int64

In [37]:
bottom_Ten = df['start_date'].value_counts(ascending=True).head(10)
bottom_Ten

start_date
2024-01-19    2578
2024-01-16    2786
2024-01-15    3037
2024-01-06    3105
2024-01-09    3309
2024-01-20    3798
2024-01-21    4171
2024-03-09    4864
2024-01-01    4902
2024-01-17    5092
Name: count, dtype: int64

In [38]:
monthly_ridership = df['start_date'].dt.month.value_counts()

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
monthly_ridership.plot(kind='barh')

In [ ]:
monthly_ridership.to_csv('monthly_ridership.csv')

In [ ]:
df['start_date'] = pd.to_datetime(df['start_date'])

In [ ]:
june_eight = df[df['start_date'] == '2024-6-8']

In [ ]:
june_eight['start_station_name'].value_counts()

In [ ]:
june_eight.to_csv('june_eight.csv')

In [ ]:
df.to_csv('bs_data_All.csv')

In [ ]:
june_eight['end_station_name'].value_counts()

In [ ]:
station_popularity = df['start_station_name'].value_counts()

In [ ]:
station_popularity.to_csv('station_popularity.csv')

In [ ]:
df['start_date'].count.plot(kind='barh',y='start_date')

In [40]:
df['start_station_name'].value_counts()

start_station_name
Columbus Circle / Union Station         26418
New Hampshire Ave & T St NW             22993
15th & P St NW                          19351
14th & V St NW                          18257
1st & M St NE                           17616
                                        ...
Links Dr & Wedge Dr                         2
Minnesota Ave & D St SE                     1
Roland Clarke Pl & Sunrise Valley Dr        1
Tysons West Transit Center                  1
Ring Rd & North Shore Dr                    1
Name: count, Length: 799, dtype: int64

In [39]:
df['end_station_name'].value_counts()

end_station_name
Columbus Circle / Union Station    26380
New Hampshire Ave & T St NW        22532
15th & P St NW                     19366
1st & M St NE                      17671
14th & V St NW                     17640
                                   ...
Metro Park Dr & Walker Ln              3
tech trailer V-1                       2
Links Dr & Wedge Dr                    2
Ring Rd & North Shore Dr               1
Minnesota Ave & D St SE                1
Name: count, Length: 799, dtype: int64

In [43]:
jan = pd.read_csv('2024jan.csv')
feb = pd.read_csv('2024feb.csv')
march = pd.read_csv('2024march.csv')
april = pd.read_csv('2024april.csv')
may = pd.read_csv('2024may.csv')
june = pd.read_csv('2024june.csv')

In [ ]:
jan.shape

In [ ]:
feb['start_station_name'].value_counts()

In [ ]:
jan['start_station_name'].value_counts()

In [ ]:
march['start_station_name'].value_counts()

In [ ]:
april['start_station_name'].value_counts()

In [ ]:
may['start_station_name'].value_counts()

In [ ]:
june['start_station_name'].value_counts()

In [ ]:
crashes = pd.read_csv('Crashes_in_DC.csv')

In [ ]:
crashes.head()

In [ ]:
crashes[crashes['REPORTDATE'].str.contains("2024")]

In [46]:
e_split = df['rideable_type'].value_counts()

In [47]:
e_split.to_csv('e_split.csv')

In [44]:
jan['rideable_type'].value_counts()

rideable_type
electric_bike    122165
classic_bike     116669
Name: count, dtype: int64

In [45]:
june['rideable_type'].value_counts()

rideable_type
classic_bike     297499
electric_bike    286903
Name: count, dtype: int64